

.main {
  padding: 60px 0;
  position: relative;
}

.container {
  width: 586px;
  background: #fff;
  margin-left: 33%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
}

.appointment-form {
  padding: 50px 60px 70px 60px;
  /* background-color: #F7F7F7; */
}



.success_text {
  font-size: 18px;
}

.mylogo {
  /* height: 45px; */
  width: 50px;
  margin-bottom: 5px;
}

.oklogo {
  width: 120px;
}

.goal-item {
  margin: 10px 0;
  display: flex;
  flex-flow: column;
  background: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: black;
  padding: 5px 5px;
  cursor: pointer;
}
